<%- include('header') -%> <%- include('navbar') -%>
<div class="container">
  <div class="title">
    <h1>About</h1>
    <p>
      Lorem ipsum dolor s soluta! Vitae nulla quia perferendis, obcaecati
      officiis tempore deserunt, placeat ut odit fuga recusandae duc inventore
      qui, ut minus fugit velit. A, alias facilis? Vitae, aut quidem! Esse
      itaque voluptatum exercitationem ipsum velit dolorem architecto. Minima,
      aperiam reiciendis. Aut aperiam iste voluptates, veniam facilis eius
      debitis molestias at. Provident facere qui labore libero quibusdam!
      Mollitia tempora re
    </p>
  </div>
</div>
<%- include('footer') -%>
