<nav class="navbar">
  <div class="container">
    <nav class="brand"><h1 class="heading">DAILY JOURNAL</h1></nav>
    <ul class="items">
      <li class="item"><a href="/">HOME</a></li>
      <li class="item"><a href="/about">ABOUT US</a></li>
      <li class="item"><a href="/contact">CONTACT US</a></li>
    </ul>
  </div>
</nav>
